@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {line-height:1 ;font-family:"微软雅黑", "黑体","宋体";color:#666}
button, html, input, select, textarea{"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif}
a {color:#666;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {display:none;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
input{color: #666;}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
.clearfix:after { content: "."; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden; }
.clearfix{zoom: 1;}
::-webkit-input-placeholder{color:#999; }
:-moz-placeholder{color:#999; }
::-moz-placeholder {color:#999; }
:-ms-input-placeholder {color:#999; }
